.archive {
    background-color: lightgray;

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &__intro {
        text-align: center;
    }

    &__grid {
        width: 100%;
        display: flex;
        //
        //align-items: center;
        // flex-direction: column;
        justify-content: center;
        //margin-bottom: 1rem;

        // flex-basis: 100%;
        flex-wrap: wrap;
        @include breakpoint-up(medium) {
        }
        @include breakpoint-up(large) {
            flex-wrap: nowrap;
        }
    }

    &__item {
        .user {
            display: flex;
            margin-top: auto;
        }
        .user img {
            border-radius: 50%;
            width: 2.5rem;
            height: 2.5rem;
            //margin-right: 0.625rem;
        }
        .user-info {
            text-align: initial;
            h5 {
                margin: 0;
            }
        }
        display: flex;

        justify-content: space-between;
        width: 18.75rem;

        box-shadow: 0px 0px 14px #363636;
        border-radius: 0.625rem;
        background-color: white;
        overflow: hidden;
        flex-wrap: wrap;
        margin-bottom: 1rem;
        text-align: center;
        // flex-basis: 100%;
        //flex-direction: column;
        align-items: center;
        //border: 1px solid white;
        @include breakpoint-up(medium) {
            margin: 1rem;
            //flex: 6.25rem;
        }
        @include breakpoint-up(large) {
        }
    }
    &__icon img {
        // object-fit: cover;
        width: 100%;
        // height: 250px;
    }

    &__title {
        margin-bottom: 1.125rem;
        font-weight: 300;
        line-height: 1.15;
        color: white;
        margin-bottom: 1.5rem;
    }
    &__description {
        padding: 1rem;
    }
    &__button {
        margin-top: 0.5rem;
        text-align: center;
        color: #fff;
        font-weight: 400;
        text-shadow: $secondary;
        padding: 0.875rem 2.1875rem;
        background: linear-gradient(
            90deg,
            rgb(70, 70, 70) 0%,
            rgb(85, 85, 85) 18%,
            rgba(102, 73, 82, 1) 95%,
            rgba(81, 81, 81, 1) 100%
        );

        border: none;
        border-radius: 50px;
        cursor: pointer;
        font-size: $font-sm;

        transition: opacity 300ms ease-in-out;

        &:hover {
            opacity: 0.75;
        }
    }
}
