.story {
  display: grid;
  align-items: center;
  h2 {
    color: $primary;
  }

  text-align: center;

  &__image > img {
    width: 75%;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    // filter: drop-shadow(5px 5px 5px #222);
  }
  // > * {
  //     flex-basis: 100%;
  // }
  @include breakpoint-up(medium) {
    text-align: left;

    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    // flex-wrap: wrap;
    &__image > img {
      width: 100%;
    }
    &__image {
      padding: 1.5rem;
    }
    &__text {
      padding: 1.5rem;
    }
  }
}
