//Colors
$primary: #ff0f59;
$secondary: #515151;
$light-grey: #616161;
$beige: #ff86ab;
$mainBlue: #86e3ff;

// Font Sizes
$font-sm: 0.75rem; // 12px
$font-med: 0.875rem; // 14px
$font-lg: 1rem; //16px
$font-xlg: 3.25rem;
